@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.scrollToTop{
  border: 1px solid $gray-4;
  border-radius: 1px;
  padding: 8px;
  background: var(--nav-main-background);
  @include Responsive(MB) {
    right: 16px;
  }
  svg{
    font-size: 25px;
  }
}


.scrollToTop:hover{
  border-color: $gray-5;
}
